/* You can add global styles to this file, and also import other style files */

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

body {
  padding-top: 4rem;
}

.bodydiv {
  /*margin-top: 5%;*/
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a.navbarItemLink:link {
  color: white;
  font-size: small;
}

a.navbarItemLink:visited {
  color: lightgrey;
  font-size: small;
}

a.navbarItemLink:active {
  color: aliceblue;
  font-size: small;
}

a.navbarItemLink:hover {
  color: ghostwhite;
  font-size: small;
}

a.adminLink:link {
  color: goldenrod;
  font-size: small;
  font-weight: bold;
}

a.adminLink:visited {
  color: darkgoldenrod;
  font-size: small;
  font-weight: bold;
}

a.adminLink:active {
  color: gold;
  font-size: small;
  font-weight: bold;
}

a.adminLink:hover {
  color: gold;
  font-size: small;
  font-weight: bold;
}

a.backLink:link {
  color: navy;
  font-size: small;
}

a.backLink:visited {
  color: purple;
  font-size: small;
}

a.backLink:active {
  color: blue;
  font-size: small;
}

a.backLink:hover {
  color: blue;
  font-size: small;
}

.backlink {
  padding-bottom: 2%;
}

.historyDiv {
  text-align: center;
}

.bodydiv {
  margin-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
}

#mapid {
  text-align: left;
  height: 512px;
  width: 100%;
  border: 1px solid #ccc;
}

#infoid {
  padding-left: 3%;
}

.leaflet-container {
  background: #fff;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

ul.square {
  list-style-type: square;
  /*margin: 0;*/
  /*padding: 2;*/
  text-align: left;
  margin-left: -2rem;
}

