<div class="container-fluid bodydiv">
  <div class="container-fluid backlink">
    <a routerLink="/main" class="backLink">&lt;&lt;-- Back to Main View</a>&nbsp;
  </div>

  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Field Users
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Field Activity Types
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Field Activity File Types
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Field Attributes
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage States
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Counties
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Vendor Partners
    </a>
  </div>
  <div>
    <a routerLink="#">
      <i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp;&nbsp;Manage Field User Vendors
    </a>
  </div>
</div>
