<div class="container-fluid bodydiv">
  <div class="row">
    <div id="leftcol" class="col-sm-5">
      <div id=mapsearch>
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" #searchbox class="form-control" placeholder="Search by Grower"
                 (keyup.enter)="searchFields(searchbox.value)">
        </div>
      </div>
      <div id=mapid></div>
    </div>
    <div id="rightcol" class="col-sm-6">
      <div id=infoid>
        <div id="docs">
          <ng-template #tipContent>
            <ul class="square">
              <li>Use Search to display field by Grower<br/> (Hint: Type Last Name only, 'none' for unassigned fields,
                or
                leave blank for all fields)
              </li>
              <li>Use the Layer Control in the upper-right corner of the map to select basemap and overalys</li>
              <li>Zoom to see additional basemap details</li>
              <li>On the map, click a field to display basic information</li>
              <li>Click the <i class='fa fa-pencil-square-o' aria-hidden='true'></i> icon to view and edit field
                details
              </li>
            </ul>
          </ng-template>
          <em>
            <h4>Field Tracker Tips&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-secondary" placement="bottom" [ngbTooltip]="tipContent"
                      container="body"><i
                class="fa fa-question-circle fa-2x" aria-hidden="true"></i></button>
            </h4>
          </em>
          <br/>
        </div>
      </div>
      <div id="fieldDiv">
      </div>
      <div id="fieldDetailsButton" style="display: none;">
        <button type="button" class="btn btn-outline-secondary" (click)="getFieldDetails()"><i
          class="fa fa-pencil-square-o"
          aria-hidden="true"></i></button>
        <input id="fieldID" name="fieldID" type="hidden" [(ngModel)]="selectedFieldId"/>
      </div>
      <br/><br/>
      <div id="fieldDetails">
        <div *ngIf="selectedField">
          <form (ngSubmit)="save()" #main="ngForm">
            <div><span>Field ID: </span>{{selectedField.fieldId}}</div>
            <div>
              <label>Field Name:
                <input name="fieldName" [(ngModel)]="selectedField.fieldName" placeholder="name"/>
              </label>
            </div>
            <div><span>Acres: </span>{{selectedField.acres}}</div>
            <div>
              <label>Grower</label>
              <select id="grower"
                      required
                      [(ngModel)]="selectedField.growerId" name="grower">
                <option *ngFor="let user of fieldUsers" [value]="user.fieldUserId">{{user.listDisplayName}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-dark" [disabled]="!main.form.valid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="fieldActivities" c>
      <div *ngIf="selectedField">
        <div id="fieldActivity">
          <table>
            <thead>
            <th>Activity Date</th>
            <th>Activity Type</th>
            <th>Activity Description</th>
            <th>Activity Files</th>
            <th></th>
            </thead>
            <tbody>
            <tr>
              <td>
                <label>Select Activity Date: <input type="date"    [(ngModel)]="newFieldActivity.fieldActivityDate" id="newFieldActivityDate" name="newFieldActivityDate"></label>
              </td>
              <td>
                <select id="newFieldActivityTypeId" name = "newFieldActivityTypeId" [(ngModel)]="newFieldActivity.fieldActivityTypeId">
                  <option *ngFor="let activityType of   activityTypes"
                          [value]="activityType.fieldActivityTypeId">{{activityType.activityType}}</option>
                </select>
              </td>
              <td >
                <label>Enter Field Activity Description:</label><br/><textarea [(ngModel)]="newFieldActivity.fieldActivityDesc" name="newFieldActivityDescription" id="newFieldActivityDescription" rows="2" cols="50"></textarea>
              </td>
              <td>
                <button type="submit" class="btn btn-dark" (click)="addFieldActivity()">Add a Field Activity</button>
              </td>
            </tr>
            <tr *ngFor="let activity of selectedField.fieldActivities">
              <td>{{activity.fieldActivityDate}}</td>
              <td>
                <select id="fieldActivityTypeId"
                        disabled
                        [(ngModel)]="activity.fieldActivityTypeId" name="fieldActivityTypeId">
                  <option *ngFor="let activityType of   activityTypes"
                          [value]="activityType.fieldActivityTypeId">{{activityType.activityType}}</option>
                </select>
              </td>
              <td>{{activity.fieldActivityDesc}}</td>
              <td>
                <table>
                  <tbody>
                  <tr *ngFor="let aFile of activity.fieldActivityFiles">
                    <td>
                      <a href="{{aFile.fieldActivityFileLocation}}"
                         target="_blank">{{aFile.fieldActivityFilename}}</a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>
              <td>
                <div>
                  <label>Choose File to Upload:
                    <input type="file" name="uploadFiletoS3" (change)="fileChange($event, activity.fieldActivityId)"
                           placeholder="Choose File"/>
                  </label>&nbsp;&nbsp;     <button type="submit" class="btn btn-dark" (click)="fileUpload()">Upload</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



