<div class="container-fluid bodydiv">
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" #searchbox class="form-control" placeholder="Search by Grower" (keyup.enter)="searchFields(searchbox.value)">
      </div>
    </div>
  </div>
  <div class="row">
    <div id=mapid class="col-sm-5"></div>
    <div id=infoid class="col-sm-6">
      <div id="docs">
        <h3>Field Tracker info goes here...</h3>
        * Some important info about this app...
        <br/>
        * Instructions...
        <br/>
      </div>
      <div id="cropDiv">
      </div>
    </div>
  </div>
</div>


