<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Field Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-expand-md navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a routerLink="/admin" class="adminLink">Admin View </a>&nbsp;</li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="navbarItemLink"><i class="fa fa-user-circle-o"></i> My Account</a>&nbsp;&nbsp;&nbsp;</li>
        <li class="nav-item"><a href="#" class="navbarItemLink"><i class="fa fa-sign-out"></i> Logout </a></li>
      </ul>
    </div>
  </div>
</nav>

